.popup {
    background-color: #fff;
    box-sizing: border-box;
    width: 300px;
    padding: 30px;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
}

.popup_size-s {width: 400px;}
.popup_size-m {width: 600px;}
.popup_size-l {width: 800px;}

.popup__close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
}

.popup__title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
}
