.app {
    padding-left: 200px;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

.content {
    padding: 40px;
}
